language: node_js
node_js:
  - "10"
dist: trusty
sudo: required
branches:
  only:
  - master
 addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable
before_script:
  - npm install -g @angular/cli
script:
#- ng lint
- npm run test-headless
- ng build --prod --base-href https://spegusess.github.io/Tour-of-Heroes/
